body{
    background-color: rgba(241, 247, 252, 1);
    margin:0;
    overflow-x:hidden;
    overflow-y:hidden;
    font-family:Roboto;
}
.hidden{
    opacity:0;
}
.main-wrapper{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
}
.piano-app{
    width: 35%;
    margin: 0 auto;
    &__start-button{
        margin:25px auto 0;
        width: 250px;
        height: 100px;
        background:url('/public/images/buttons/start.def.png') center no-repeat;
        background-size: cover;
        cursor:pointer;
        &:hover{
            background:url('/public/images/buttons/start.hover.png') center no-repeat;
            background-size: cover;
            transition:0.2s;
        }
        &:active{
            background:url('/public/images/buttons/start.active.png') center no-repeat;
            background-size: cover;
            transition:0s;            
        }
    }
}
.control-buttons-wrapper{
    display:flex;
    justify-content:space-around;
    &__button{
        margin-bottom:25px;
        width:125px;
        height:125px;
        cursor:pointer;
        transition:0.2s;
        font-size: 11px;
        letter-spacing: 0.1rem;
        font-weight: 300;
        color: rgba(0,0,0,0.5);
        &--play{
            background:url('/public/images/buttons/play.def.png') center no-repeat;
            background-size: contain;
            &::after{
                content:"ПРОСЛУШАТЬ";
            }
            &:hover{
                background:url('/public/images/buttons/play.hover.png') center no-repeat;
                background-size: contain;
                transition:0.2s;
            }
            &:active{
                background:url('/public/images/buttons/play.active.png') center no-repeat;
                background-size: contain;
                transition:0s;
            }
        }
        &--play-disabled{
            background:url('/public/images/buttons/play.disable.png') center no-repeat;
            background-size: contain;
            pointer-events: none;
            cursor:default;
        }
        &--answer{
            background:url('/public/images/buttons/answer.def.png') center no-repeat;
            background-size: contain;
            &::after{
                content:"ОТВЕТИТЬ";
            }
            &:hover{
                background:url('/public/images/buttons/answer.hover.png') center no-repeat;
                background-size: contain;
                transition:0.2s;
            }
            &:active{
                background:url('/public/images/buttons/answer.active.png') center no-repeat;
                background-size: contain;
                transition:0s;
            }            
        }
        &--answer-disabled{
            background:url('/public/images/buttons/answer.disable.png') center no-repeat;
            background-size: contain;            
            pointer-events: none;
            cursor:default;
        }
        &--next{
            background:url('/public/images/buttons/def.png') center no-repeat;
            background-size: contain;
            &::after{
                content:"ДАЛЕЕ";
            }
            &:hover{
                background:url('/public/images/buttons/hov.png') center no-repeat;
                background-size: contain;
                transition:0.2s;
            }
            &:active{
                background:url('/public/images/buttons/active.png') center no-repeat;
                background-size: contain;
                transition:0s;
            }            
        }
        &--next-disabled{
            background:url('/public/images/buttons/disable.png') center no-repeat;
            background-size: contain;            
            pointer-events: none;
            cursor:default;
        }        
    }
}

.keyboard{
    position: relative;
    box-shadow: 0 20px 100px 1px rgba(0, 0, 0, 0.1);
    &__key{
        position: relative;
        display:inline-block;
        width: calc(calc(100%/7) - 2px);
        padding-bottom: 55%;
        background: #f8f8f8;
        vertical-align: top;
        cursor: pointer;
        border-radius: 4px;
        transition: 0.5s;
        color: rgba(255, 255, 255, 0.3);
        border: 1px solid #d6d6d6!important;
        &:hover{
            border: 1px solid #ff4200!important;
            transition:0.1s;
        }
        &--active{
            background-color: #ff4200 !important;
            transition:all 0.1s;
        }
        &--wrong{
            background-color: #f43b4d!important;
            transition:all 0.1s;            
        }
        &--right{
            background-color: #29dd29 !important;
            transition:all 0.1s;
        }
        &--sharp{
            position: absolute;
            z-index:1;
            width: 16%;
            background: #222222;
            transform-origin: center top;
            transform: translateX(-50%) scale(0.59);
            -webkit-transform: translateX(-50%) scale(0.59);
            box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            &:hover{
                background: #333333;
                
            }
        }
    }
}